<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    .gap{margin-top: 3em;
        margin-left: 30px;
    }
    .flex{
        display: flex;
    }
</style>
</head>
<body><div class="flex">
    <div class="card gap" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2021/08/02/11/03/hallelujah-6516410_960_720.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Dictionary</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/student/MCQgame" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <div class="card gap" style="width: 18rem;">
        <img class="card-img-top" src="https://media.istockphoto.com/id/1448155330/photo/person-passing-online-test-assessment-or-academic-exam-and-answering-multiple-choice.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">MCQgame</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/student/MCQgame" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <div class="card gap" style="width: 18rem;">
        <img class="card-img-top" src="https://media.istockphoto.com/id/826284870/photo/kaizen-diagram-for-continuous-improvement.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">course</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/student/course" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <div class="card gap" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/04/07/08/28/notepad-3297994_960_720.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Voacabalary</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="student/vocab" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

  <div class="card gap" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/27/11/48/sign-741813_960_720.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="student/login" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

  <div class="card gap" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/09/07/08/53/money-2724238__340.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">SignUp</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="student/signup" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


    </div>
</body>
</html>